<div class="editfriends">
    <div class="addfriend">
        <form method="POST" action="/add_friend" id="addfriendform">
            <input type="text" name="id" placeholder="ID*"/>
            <input type="text" name="name" placeholder="Name"/>
            <input type="submit" id="btnadd" value="Добавить"/>
        </form>
    </div>

    <div id="friends_count">
        Friends count: {{friends.length}}
    </div>

    <div class="friends">
        <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th></th>
            </tr>
            {{#each friends}}
                <tr class="friend">
                    <td class="id">
                        <a href="/friend_info?id={{id}}" class="id_a">
                        {{id}}
                        </a>
                    </td>
                    <td class="name">{{name}}</td>
                    <td class="controls">
                        <a href="./delete_friend?id={{id}}">
                        del
                        </a>
                    </td>
                </tr>
            {{/each}}
        </table>

    </div>
</div>

<script>
    const getCellValue = (tr, idx) => tr.children[idx].innerText || tr.children[idx].textContent;
    const comparer = (idx, asc) => (a, b) => ((v1, v2) =>
                    v1 !== '' && v2 !== '' && !isNaN(v1) && !isNaN(v2) ? v1 - v2 : v1.toString().localeCompare(v2)
    )(getCellValue(asc ? a : b, idx), getCellValue(asc ? b : a, idx));
    document.querySelectorAll('th').forEach(th => th.addEventListener('click', (() => {
        const table = th.closest('table');
        Array.from(table.querySelectorAll('tr:nth-child(n+2)'))
                .sort(comparer(Array.from(th.parentNode.children).indexOf(th), this.asc = !this.asc))
                .forEach(tr => table.appendChild(tr));
    })));
</script>

<style>
    th {
        cursor: pointer;
    }

    .friends > table {
        border: 1px solid white;
    }

    td {
        border: 1px solid gray;
        padding: 1px 5px;
    }

    .id_a {
        color: black;
        text-decoration: none;
    }

    .btnsort {
        width: 212px;
    }

    #addfriendform {
        padding: 5px 0px;
    }

    input[name="id"] {
        width: 208px;
    }

    input[name="name"] {
        width: 208px;
    }

    #btnadd {
        width: 112px;
    }

    .id {
        width: 200px;
        background: lightblue;
    }

    .name {
        width: 200px;
        background: lightgray;
    }

    .controls {
        width: 100px;
        background: antiquewhite;
    }
</style>