<div class='content'>
    <div class='channel_name'>
        <a href="/guild?id={{data.guild_id}}">{{data.guild_id}} | {{data.guild_name}} </a>
        <h4>
            {{data.channel_id}} | {{data.channel_name}}
        </h4>
    </div>


    <div id="messages">
    </div>

    <div id="controls">


        <button lastMessageID="" class="btn btn-primary" id="load_more">Load more</button>


    </div>
</div>
<script>
    /**
     * @return {string}
     */
    function GET(url) {
        let http = new XMLHttpRequest();
        http.open('GET', url, false);
        http.send(null);
        return http.responseText;
    }

    let img_type = ['jpeg', 'jpg', 'png', 'gif', 'tiff', 'psd', 'pdf', 'eps', 'ai', 'indd', 'raw', 'apng', 'svg', 'bmp', 'ico'];
    let media_type = ['ogm', 'mp4', 'ogv', 'oga', 'ogx', 'ogg', 'avi', 'mkv', 'webm', 'wav', 'mp3', 'aac'];
    let http = ['https://', 'http://'];

    function getFile(content, attachment = false) {
        let type = content.split('.');
        type = type[type.length - 1];
        type = type.toLocaleLowerCase();
        if (img_type.includes(type)) {
            let img_attachment = document.createElement("img");
            img_attachment.classList.add("img_attachment");
            img_attachment.src = content;
            return img_attachment;
        } else if (media_type.includes(type)) {
            let video = document.createElement("video");
            video.classList.add("attachment_video");
            video.src = content;
            video.height = "270";
            video.width = "400";
            video.setAttribute('controls', "");
            video.setAttribute('preload', "metadata");
            //video.setAttribute('preload', "none");
            return video;
        } else {
            let a = document.createElement("a");
            a.href = content;
            if (attachment) {
                let sl_spl = content.split('/');
                a.innerHTML = sl_spl[sl_spl.length - 1];
            } else
                a.innerHTML = content;
            return a;
        }
    }

    function is_url(str) {
        for (let h of http)
            if (str.includes(h))
                return true;
        return false;
    }

    function is_file(str) {
        if (str.includes('.')) {
            let type = str.split('.');
            type = type[type.length - 1];
            type = type.toLocaleLowerCase();
            if (type)
                return true;
        }
        return false;
    }

    function add_messages(str) {
        try {
            let messagesDIV = document.getElementById('messages');
            let messages = JSON.parse(str);
            for (let m of messages) {
                let message = document.createElement("div");
                message.classList.add("message");
                let message_head = document.createElement("div");
                message_head.classList.add("message_head");
                let user_avatar = document.createElement("img");
                user_avatar.classList.add("user_avatar");
                user_avatar.src = m.user_avatar.replace('size=2048', 'size=64');
                let user_url = document.createElement("a");
                user_url.href = `/friend_info?id=${m.user_id}`;
                user_url.appendChild(user_avatar);
                let message_head_title = document.createElement("div");
                message_head_title.classList.add("message_head_title");
                message_head_title.innerHTML = `${m.user_name} | <a class='m_user_id' href='/friend_info?id=${m.user_id}'>${m.user_id}</a> | ${m.createdAt}`;
                message_head.appendChild(user_url);
                message_head.appendChild(message_head_title);
                message.appendChild(message_head);
                let message_content = document.createElement("div");
                message_content.classList.add("message_content");
                let content = document.createElement("div");
                let reg = /<@[!]*[0-9]+>/g;
                let matches = m.content.match(reg);
                for (let k in matches) {
                    let match = matches[k];
                    let rep = match.replace('<', '');
                    rep = rep.replace('>', '');
                    rep = rep.replace('@', '');
                    rep = rep.replace('!', '');
                    let u_id = rep;
                    let u_nick = u_id;
                    try {
                        let str = GET(`/get_user_by_id?id=${u_id}`);
                        if (str !== 'error get_user_by_id') {
                            let user = JSON.parse(str);
                            u_nick = user.tag;
                            if (!u_nick) {
                                u_nick = `${user.username}#${user.discriminator}`;
                                if (!u_nick) {
                                    u_nick = `${user.id}`;
                                }
                            }
                        }
                    } catch (e) {
                        console.log(e);
                    }
                    let u_a = `<a class="user_mentions" href='/friend_info?id=${u_id}'>@${u_nick}</a>`;
                    m.content = m.content.replace(match, u_a);
                }
                content.innerHTML = m.content;
                message_content.appendChild(content);
                if (m.content.includes('\n')) {
                    let content_spl = m.content.split('\n');
                    for (let c of content_spl) {
                        if (is_url(c)) {
                            if (is_file(c)) {
                                let html_control = getFile(c);
                                message_content.appendChild(html_control);
                            }
                        }
                    }
                } else if (m.content.includes(' ')) {
                    let content_spl = m.content.split(' ');
                    for (let c of content_spl) {
                        if (is_url(c)) {
                            if (is_file(c)) {
                                let html_control = getFile(c);
                                message_content.appendChild(html_control);
                            }
                        }
                    }
                } else {
                    if (is_url(m.content)) {
                        if (is_file(m.content)) {
                            let html_control = getFile(m.content);
                            message_content.appendChild(html_control);
                        }
                    }
                }
                if (m.attachments.length > 0) {
                    for (let attachment of m.attachments) {
                        let url = attachment.url;
                        if (!url)
                            url = attachment.proxyURL;
                        message_content.innerHTML += `<a class='a_download' href='${url}'>download</a>`;

                        let html_control = getFile(url, true);
                        message_content.appendChild(html_control);
                        message_content.appendChild(document.createElement("br"));
                    }
                }
                message.appendChild(message_content);
                messagesDIV.appendChild(message);
                messagesDIV.appendChild(document.createElement("hr"));
            }
            let load_more = document.getElementById('load_more');
            load_more.setAttribute('lastMessageID', messages[messages.length - 1].id);
        } catch (e) {
            if (str.length < 100)
                document.getElementById('messages').innerHTML += str;
            document.getElementById('messages').innerHTML += e;
        }
    }

    let baseURL = '/guild_text_channel_messages?id={{data.channel_id}}';
    let str = GET(baseURL);
    add_messages(str);
    document.getElementById('load_more').onclick = function () {
        let lastMessageID = this.getAttribute('lastMessageID');
        let url = `${baseURL}&lastMessageID=${lastMessageID}`;
        let str = GET(url);
        add_messages(str);
    };
</script>
<style>
    #load_more {
        margin: 40px 20px;
    }

    .a_download {
        display: block;
    }

    body {
        background-color: #36393f;
    }

    hr {
        margin-top: 0px;
        margin-bottom: 0px;
        border-top: 1px solid rgba(251, 251, 251, 0.4);
    }

    .message {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .buffer {
        width: 312px;
        min-height: 100px;
        background-color: #2f3136;
    }

    div#body {
        /*display: flex;*/
    }

    .m_user_id {
        color: #6f7a88;
        text-decoration: none;
    }

    .user_mentions {
        color: #7289da;
        font-weight: bold;
    }

    .img_attachment {
        border: 1px solid black;
        width: 400px;
    }

    .attachment_video {
        border: 1px solid black;
    }

    .attachments_img {
        width: 200px;
    }

    .user_avatar {
        height: 40px;
        width: 40px;
        border-radius: 90px;
        margin: -2px 20px 20px;
        cursor: pointer;
        opacity: 1;
    }

    .message_head_title {
        font-weight: 500;
    }

    .message_head {
        display: flex;
    }

    .message_content {
        margin-left: 80px;
        margin-top: -25px;
    }

    .channel_name {
        padding-left: 20px;
        box-shadow: 0 1px 0 rgba(0, 0, 0, .2), 0 1.5px 0 rgba(0, 0, 0, .05), 0 2px 0 rgba(0, 0, 0, .05);
        padding-bottom: 10px;
    }
</style>