<div class="guilds_edit">

    <div class="guild_add">
        <form method="POST" action="/guild_add" id="guild_add">
            <input type="text" name="url" placeholder="url*"/>
            <input type="submit" id="btnadd" value="Добавить"/>
        </form>
    </div>

    <div id="guilds_count">
        Guilds count: {{guilds.length}}
    </div>

    <div class="guilds_guilds">
        {{#each guilds}}
            <div class="guild_guilds">
                <a href="/guild?id={{id}}" class="aguild">
                <img class="guild_iconURL" src="{{iconURL}}" alt=" "/>
                </a>
                <div class="guild_name">{{name}}</div>
                <div class="guild_controls">
                    <a href="/guild_leave?id={{id}}">
                    Leave
                    </a>
                </div>
            </div>
        {{/each}}
    </div>

</div>

<style>
    .aguild {
        text-decoration: none;
    }

    .guild_add {
        margin-bottom: 10px;
    }

    .guild_iconURL {
        display: inline-block;
        height: 40px;
        width: 40px;
        border: 1px solid black;
    }

    .guild_id {
        display: inline-block;
    }

    .guild_name {
        display: inline-block;
    }

    .guild_memberCount {
        display: inline-block;
    }

    .guild_controls {
        display: inline-block;
    }
    .guild_guilds {
        border: 2px solid;
        padding: 5px;
        margin: 3px;
        border-radius: 5px;
        border-color: #7d7d7d;
        box-shadow: 0 1px 0 rgba(0,0,0,.2), 0 1.5px 0 rgba(0,0,0,.05), 0 2px 0 rgba(0,0,0,.05);
        width: 800px;
    }
</style>