<div class="guild_channels">

    <div class="VoiceChannels">
        <h3>Voice Channels Length: {{VoiceChannels.length}}</h3>
        {{#each VoiceChannels}}
            <div class="VoiceChannel">
                <div class="title">
                    <div class='buffer'>
                        <svg name="Speaker" class="icon-1_QxNX" aria-hidden="false" width="24" height="24"
                             viewBox="0 0 24 24">
                            <path fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"
                                  d="M11.383 3.07904C11.009 2.92504 10.579 3.01004 10.293 3.29604L6 8.00204H3C2.45 8.00204 2 8.45304 2 9.00204V15.002C2 15.552 2.45 16.002 3 16.002H6L10.293 20.71C10.579 20.996 11.009 21.082 11.383 20.927C11.757 20.772 12 20.407 12 20.002V4.00204C12 3.59904 11.757 3.23204 11.383 3.07904ZM14 5.00195V7.00195C16.757 7.00195 19 9.24595 19 12.002C19 14.759 16.757 17.002 14 17.002V19.002C17.86 19.002 21 15.863 21 12.002C21 8.14295 17.86 5.00195 14 5.00195ZM14 9.00195C15.654 9.00195 17 10.349 17 12.002C17 13.657 15.654 15.002 14 15.002V13.002C14.551 13.002 15 12.553 15 12.002C15 11.451 14.551 11.002 14 11.002V9.00195Z"></path>
                        </svg>
                    </div>

                    <div class="c_name">{{name}}</div>
                    |
                    <div class="c_id">{{id}}</div>
                    |
                    <div class="c_Members_Length">Members Length: {{members.length}}</div>
                </div>
                <div class="members">
                    {{#each members}}
                        <div class="chanel_user friend_{{friend}}">
                            <a href="/friend_info?id={{id}}" class="id_a">
                            {{#if avatar}}
                                <img class="user_avatar" src='{{AVATAR}}'/>
                            {{/if}}
                            </a>
                            <div class="user_title_wraper">
                                <div class="user_username">
                                    {{#if bot}}[BOT]{{/if}}
                                    {{tag}}
                                    {{#if muted}}
                                        <svg name="Nova_MicrophoneMute" class="icon-3BcwQu" aria-hidden="false"
                                             width="24" height="24" viewBox="0 0 24 24">
                                            <path d="M6.7 11H5C5 12.19 5.34 13.3 5.9 14.28L7.13 13.05C6.86 12.43 6.7 11.74 6.7 11Z"
                                                  fill="currentColor"></path>
                                            <path d="M9.01 11.085C9.015 11.1125 9.02 11.14 9.02 11.17L15 5.18V5C15 3.34 13.66 2 12 2C10.34 2 9 3.34 9 5V11C9 11.03 9.005 11.0575 9.01 11.085Z"
                                                  fill="currentColor"></path>
                                            <path d="M11.7237 16.0927L10.9632 16.8531L10.2533 17.5688C10.4978 17.633 10.747 17.6839 11 17.72V22H13V17.72C16.28 17.23 19 14.41 19 11H17.3C17.3 14 14.76 16.1 12 16.1C11.9076 16.1 11.8155 16.0975 11.7237 16.0927Z"
                                                  fill="currentColor"></path>
                                            <path d="M21 4.27L19.73 3L3 19.73L4.27 21L8.46 16.82L9.69 15.58L11.35 13.92L14.99 10.28L21 4.27Z"
                                                  fill="currentColor"></path>
                                        </svg>
                                    {{/if}}
                                    {{#if deafened}}
                                        <svg name="Nova_HeadsetDeafen" class="icon-3BcwQu" aria-hidden="false"
                                             width="24" height="24" viewBox="0 0 24 24">
                                            <path d="M6.16204 15.0065C6.10859 15.0022 6.05455 15 6 15H4V12C4 7.588 7.589 4 12 4C13.4809 4 14.8691 4.40439 16.0599 5.10859L17.5102 3.65835C15.9292 2.61064 14.0346 2 12 2C6.486 2 2 6.485 2 12V19.1685L6.16204 15.0065Z"
                                                  fill="currentColor"></path>
                                            <path d="M19.725 9.91686C19.9043 10.5813 20 11.2796 20 12V15H18C16.896 15 16 15.896 16 17V20C16 21.104 16.896 22 18 22H20C21.105 22 22 21.104 22 20V12C22 10.7075 21.7536 9.47149 21.3053 8.33658L19.725 9.91686Z"
                                                  fill="currentColor"></path>
                                            <path d="M3.20101 23.6243L1.7868 22.2101L21.5858 2.41113L23 3.82535L3.20101 23.6243Z"
                                                  fill="currentColor"></path>
                                        </svg>
                                    {{/if}}
                                </div>
                                <div class="user_id">{{id}}</div>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
        {{/each}}
    </div>
    <hr/>
    <div class="TextChannels">

        <h3>Text Channels Length: {{TextChannels.length}}</h3>
        {{#each TextChannels}}
            <div class="TextChannels">

                <div class="title">
                    <div class="c_name">{{name}}</div>
                    |
                    <div class="c_id">
                        <a href="/guild_text_channel?id={{id}}">
                        {{id}}
                        </a>
                    </div>
                    |
                    <div class="c_id">{{type}}</div>
                </div>

            </div>
        {{/each}}

    </div>

</div>

<style>
    .icon-3BcwQu {
        width: 14px;
        height: 14px;
        color: white;
    }

    .guild_channels {
        background-color: #2f3136;
    }

    .buffer {
        display: inline-block;
        margin-right: 6px;
    }

    .title {
        height: 34px;
        overflow: hidden;
        margin: 1px 0 1px 8px;
    }

    .members {
        padding-left: 36px;
    }

    .c_name {
        display: inline-block;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        font-weight: 500;
        text-overflow: ellipsis;
        margin-top: 2px;
        margin-bottom: 5px;
        margin-right: 25px;
    }

    .c_id {
        display: inline-block;
        font-size: 15px;
    }

    .c_Members_Length {
        display: inline-block;
        font-size: 15px;
    }

    .user_username {
        display: inline-block;
        margin-right: 15px;
        color: #8e9297;
    }

    img.user_avatar {
        display: inline-block;
        height: 24px;
        width: 24px;
        border-radius: 90px;
        margin: 3px 8px 3px 8px;
    }

    .user_title_wraper {
        display: inline-block;
        display: flex;

    }

    .user_id {
        font-style: italic;
        font-size: 14px;
    }

    .chanel_user {
        font-size: 14px;
        margin-top: 1px;
        margin-bottom: 1px;
    }

</style>