<div class="messages">
    {{#each messages}}
        <div class="message">

            <div class="message_head">
                <img class="user_avatar"
                     src='https://cdn.discordapp.com/avatars/{{message_author_id}}/{{message_author_avatar}}.png?size=128'/>
                <div class="message_head_title">{{message_author_username}} | {{message_createdTimestamp}}</div>
            </div>

            <div class="message_content">
                {{message_content}}

                {{#each attachments.img}}
                    <a href="{{this}}" target="_blank">
                        <img class="attachments_img" src="{{this}}"/>
                    </a>
                {{/each}}
                {{#each attachments.others}}
                    <a href="{{this}}" target="_blank">
                        {{this}}
                    </a>
                {{/each}}
            </div>


            <hr/>


        </div>
    {{/each}}
</div>

<style>
    .attachments_img {
        width: 200px;
    }

    .user_avatar {
        height: 35px;
        border-radius: 90px;
    }

    .message_head_title {
        display: inline-block;
        margin-top: 7px;
        margin-left: 10px;
        position: absolute;
        font-style: italic;
    }

    .message_head {
        margin-bottom: 5px;
    }

    .message_content {
        margin-left: 45px;
    }
</style>
